<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这个一个简陋的页面</title>
</head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<body>

<div style="text-align:center">欢迎登陆网站，该网站为接口代码生成</div>

<div >
    <form id="dataForm" action="/formData" method="post">
        数据库地址：<input id="url" name="url" placeholder="120.110.111.102:3306/test"> 比如输入:120.110.111.102:3306/test
        <br>账号：<input id="username" name="username">
        <br>密码：<input id="password" name="password">
        <input name="driverClass" hidden>
        <br><button  id="submitData">查询</button>
    </form>

</div>
<br>
<br>
<br>
<div id="showtable">


</div>


<script>
    function aa(){
        var tableNameHtml="";
        tableNameHtml+='<input name="+d+" type="checkbox" value="" />1111<br>';
        $("#showtable").append(tableNameHtml);
    }

    $("#submitData").click(function(){
        var targetUrl = $("#dataForm").attr("action");
        var data = $("#dataForm").serialize();
        $.ajax({
            type:'post',
            url:targetUrl,
            cache: false,
            data:data,
            dataType:'json',
            success:function(data){
                var tableNameHtml='请选择表名<br>'
                    +'<form action="/tableFrom" method="get" id="tableForm">';
                for(var i=0;i<data.length;i++){
                    tableNameHtml+='<input name="tablebox" type="checkbox" value='+data[i]+' />'+data[i]+'<br>';
                }
                tableNameHtml+='包名:<input name="backName"> 如：cn.phlos<br>'
                                +'<br><button  id="submitTable">生成</button>'
                                +'</form>';
                $("#showtable").html(tableNameHtml);
            },
            error:function(){
                alert("请求失败")
            }

        })

        return false;
    })

    var temp =[];//该变量是为了判断最后一次循环而定义
    $("input[name='tablebox']:checked").each(function(){ //遍历所有checkbox选中的值
        temp.push($(this).val());//设置值到数组中
    });

   /* $("#submitTable").click(function(){
        var data =[];
            data.fileName=$("#fileName").val();
            data.backName=$("#backName").val();
            data.box=temp;
        alert(temp)
        $.ajax({
            type:'get',
            url:"/tableFrom",
            cache: false,
            data:data,
            dataType:'json',
            success:function(data){
                alert(data)

            },
            error:function(){
                alert("请求失败")
            }

        })

        return false;
    })*/

</script>
</body>
</html>